[Unit]
Description = Cart Service
[Service]
User=roboshop
{% for item in systemd_service_variables %}
Environment={{ item }}="{{ lookup('community.hashi_vault.hashi_vault', 'secret=roboshop-{{env}}/data/{{component_name}}:{{ item }} token={{ vault_token }} url=http://vault-internal.rdevopsb83.online:8200') }}"
{% endfor %}
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target
